.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-navbar {
  background-image: url('./assets/bandeaumaria.png');
  background-size: cover;
  ; /* ajustez en fonction de votre design */
}

@media (max-width: 400px) {
  .custom-sm-text {
    font-size: 0.875rem; /* Correspond à la taille de police "sm" */
  }
}

@media (max-width: 423px) {
  .custom-image {
    object-fit: contain;
  }
}

@media (min-width: 424px) {
  .custom-image {
    object-fit: cover;
  }
}



